@model ExamManagement.Models.QuestionViewModel

            
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="/img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />

	<title>Blank Page | AdminKit Demo</title>

	<link href="/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/Admin">
					<span class="align-middle">AdminKit</span>
				</a>
				<partial name="_Navbar" />
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
					
				</a>
				
			</nav>

			<main class="content">
				<div class="container-fluid">

					<h1 class="h3 mb-3">Details</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
                                    <h3>  <a class="nav-link text-dark"   asp-action="Index">Back</a> </h3>
								</div>
								<div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <head>
                                                <title>Question</title>
                                                <style>
                                                    /* Add your CSS styles here */
                                                    .question-container {
                                                        margin-bottom: 20px;
                                                    }

                                                    .options-container {
                                                        list-style-type: none;
                                                        padding: 0;
                                                    }

                                                    .option {
                                                        margin-bottom: 10px;
                                                    }

                                                        .option label {
                                                            display: inline-block;
                                                            margin-right: 10px;
                                                        }

                                                        .option input[type="radio"] {
                                                            margin-right: 5px;
                                                        }

                                                    .correct-answer {
                                                        color: green;
                                                        font-weight: bold;
                                                    }
                                                </style>
                                            </head>
                                            <body>
                                                <div class="question-container">
                                                    <h4>Question</h4>
                                                    <p>@Model.QuestionText</p>
                                                </div>

                                                <div class="options-container">
                                                    <form>
                                                        @foreach (var (option, index) in Model.Options.Select((value, i) => (value, i)))
                                                        {
                                                            <div class="option">
                                                                <label>
                                                                    <input type="radio" name="option" value="@option.OptionID">
                                                                    @Html.Raw((char)('A' + index)). @option.OptionText
                                                                </label>
                                                            </div>
                                                        }
                                                    </form>
                                                </div>

                                                <div class="correct-answer">
                                                    Correct Answer: @Html.Raw((char)('A' + Model.CorrectAnswerId - 1))
                                                </div>
                                            </body>
                                        </div>
                                    </div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</main>


		</div>
	</div>

	<script src="/js/app.js"></script>

</body>

</html>
