@model IEnumerable<ExamManagement.Models.CorrectAnswer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CorrectAnswerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CorrectAnswerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CorrectAnswerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
